/* --------------------------------------------------------------------------------
 * footer.
 * -------------------------------------------------------------------------------- */
.footer-wrapper {
  height:           20px;
  width:            100%;
  text-align:       center;
  padding-top:      10px;
  position:         absolute;
  bottom:           0;
  background-color: #ECEFF1;
}
